= form_for(@project) do |f|
  = f.label(:name)
  = f.text_field(:name)
  = f.label("Owned by")
  = google_api_interface.image_url_for_user(@project.owner.google_id)
  = f.label(:office)
  = f.select(:office, ['SF', 'NY', 'other'])
  = f.label(:technology)
  = f.text_field(:technology)
  = f.label(:description)
  = f.text_area(:description)
  = f.submit

