= form_for(@project) do |f|
  = f.label(:name)
  = f.text_field(:name)
  - if @project.owner.present?
    %p Owned By
    %img{src: "#{google_api_interface.image_url_for_user(@project.owner.google_id)}"}
    .display-name= google_api_interface.display_name_for_user(@project.owner.google_id)
  = f.label(:office)
  = f.select(:office, ['SF', 'NY', 'other'])
  = f.label(:technology)
  = f.text_field(:technology)
  = f.label(:description)
  = f.text_area(:description)
  = f.submit

