- content_for :filters do
  %ul.nav.secondary-nav.pull-right
    %li#office-filter.dropdown(data-dropdown="dropdown")
      %a.dropdown-toggle(data-toggle="dropdown" href="#")
        By Office
        %span.caret
      %ul.dropdown-menu
        %li
          %a{"href" => projects_path} All Offices
        - Project::OFFICES.each do |office|
          %li
            %a{"href" => projects_path(office: office)}= office

%h3
  - if @office
    = "Projects for #{@office} Office"
  - else
    Projects for All Offices

%table.table.table-striped
  %thead
    %tr
      %th.owner-heading Owner
      %th.project-name-heading Project Name
      %th.description-heading Description
      %th.technologies-heading Technologies
      %th.other-technologies-heading Other Technologies
      %th.office-heading Office
      %th.actions-heading
  %tbody
    - @project_presenters.each do |project|
      %tr
        = render partial: 'project', locals: { project: project }
      %tr
        %td{colspan: 7}
          =image_tag "thumbs-up-small.png"
          %span.interested-users= "#{project.interested_users.join(', ')}"

%a{href: 'projects/new', class: 'btn'}
  %i{class: 'icon-plus'}
  = " Add project"