%table.table
  %thead
    %tr
      %th Project Owner
      %th Project Name
      %th Edit
    - @projects.each do |project|
      %tr
        %td
          %img{src: "#{project.owner.profile_image_url}"}
          .display-name= project.owner.display_name
        %td
          .project_name= project.name
        %td= link_to("Edit #{project.name}", edit_project_path(project))

%a{href: 'projects/new', class: 'btn'}
  %i{class: 'icon-plus'}
  = " Add project"