- content_for :filters do
  %ul.nav.secondary-nav.pull-right
    %li#office-filter.dropdown(data-dropdown="dropdown")
      %a.dropdown-toggle(data-toggle="dropdown" href="#")
        By Office
        %span.caret
      %ul.dropdown-menu
        %li
          %a{"href" => projects_path} All Offices
        - Project::OFFICES.each do |office|
          %li
            %a{"href" => projects_path(office: office)}= office

%h3
  - if @office
    = "Projects for #{@office} Office"
  - else
    Projects for All Offices

#projects-table.row-fluid.striped
  .span12
    .row-fluid.head
      .span2.owner-heading Owner
      .span2.project-name-heading Project Name
      .span2.description-heading Description
      .span2.technologies-heading Technologies
      .span2.other-technologies-heading Other Technologies
      .span1.office-heading Office
      .span1.actions-heading
    - @project_presenters.each do |project|
      .row-fluid.project
        .span12
          = render 'project', project: project

%a{href: 'projects/new', class: 'btn'}
  %i{class: 'icon-plus'}
  = " Add project"
