%table.table.table-striped
  %thead
    %tr
      %th.owner-heading Owner
      %th.project-name-heading Project Name
      %th.description-heading Description
      %th.other-technologies-heading Other Technologies
      %th.office-heading Office
      %th.actions-heading
  %tbody
    - @projects.each do |project|
      %tr
        %td
          =image_tag "#{project.owner.profile_image_url}"
          %span.display-name= project.owner.display_name
        %td
          .project-name= project.name
        %td
          .description= project.description
        %td
          .other_technologies= project.other_technologies
        %td
          .office= project.office          
        %td
          - if project.current_user_interested
            %span.recant-interest= link_to image_tag('thumbs-up.png'), interest_path(project_id: project.id), method: :delete
          - else
            %span.declare-interest= link_to image_tag('thumbs-up-grey.png'), interests_path(project_id: project.id), method: :post
          - if project.current_user_owns
            %span.edit-project= link_to image_tag('edit.png'), edit_project_path(project.id)
            %span.torch-project= link_to image_tag('fire.png'), "/projects/#{project.id}", method: :delete
      %tr
        %td{colspan: 6}
          =image_tag "thumbs-up-small.png"
          %span.interested-users= "#{project.interested_users.join(', ')}"

%a{href: 'projects/new', class: 'btn'}
  %i{class: 'icon-plus'}
  = " Add project"